@media (max-width: 778px) {
    .container-banner{
        justify-content: center;
        align-items: center;
        
    }
    .item-banner img{
        width: 150px;
        height: 400px;
    }
    #main-itens{
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
    }
    #main-itens p{
        order: 1;
    }
    .item-banner1 img{
       display: none;
    }
    .contato-container textarea{
        width: auto;
    }
}
@media (max-width: 980px){
    .apresent{
        flex-direction: column;
    }
    .apresent >img{
        margin: 0 auto;
    }
    .apresent-container > h1{
        text-align: center;
    }
    .apresent-container > h4{
        text-align: center;
    }
    #main-itens img:hover{
        transform: none;
    }
    .proj-recent-box{
        flex-direction: column;
    }
    .proj-recent-box img{
        width: 450px;
    }
    .proj-recent-box > p {
        order: 1;
        text-align: center;
    }
}