*{
    margin: 0;
    padding: 0;
}
body{
    background: #fff;
    box-sizing: border-box;
}

.container-banner{
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin: 30px auto;
    padding: 15px;

}
.item-banner img{
    width: 250px;
    height: 400px;
    filter: grayscale(1);
    transition: 0.5s ease;
    transform: skewY(5deg);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.item-banner1 img{
    width: 250px;
    height: 400px;
    filter: grayscale(1);
    transition: 0.5s ease;
    transform: skewY(5deg);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}
.item-banner img:hover{
    filter: grayscale(0);
}

.item-banner1
 img:hover{
    filter: grayscale(0);
}

.coment-banner{
    text-align: center;
}

.main-container{
    margin: 50px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main-itens{
    display: flex;
    align-items: center; 
    margin-bottom: 95px;
}
#main-itens img{
    width: 250px;
    height: 350px;
    transition: 0.5s ease-in;
}
#main-itens img:hover{
    transform: scale(105%);
}
#main-itens p{
    max-width: 500px;
    margin: 15px;
    text-align: center;
}
.apresent{
    display: flex;
    margin: 20px auto;
    max-width: 1030px;
}
.apresent > img{
    max-width: 550px;
    height: 750px;
}
.apresent-container{
    margin: 20px;
}
.apresent-container > h4{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin-left: 20px;
    color: #b3b3b3;
}
.apresent-container > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    margin: 10px 25px;
}
.apresent-container > p{
    margin-bottom: 15px;
    font-size: 1.5em;
    text-indent: 10px;
    text-align: center;
}
.container-box{
    display: flex;
    margin-top: 30px;
    gap: 15px;
    
}
.box-apresent{
    background-color: #cccccc6c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #cccccc67;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    width: 150px;
    height: 90px;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
}
.box-apresent > h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #8a8989;
    margin-bottom: 5px;
}
.box-apresent > span{
    font-family: Arial, Helvetica, sans-serif;
}

.border{
    border-top: 2px solid #ccc;
    width: 90%;
    margin: 15px auto;
}
.proj-recent-container{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}
.proj-recent-box{
    display: flex;
    align-items: center;
    margin: 30px auto;
    gap: 50px;
}
.proj-recent-box img{
    width: 550px;
    height: 550px;
}
.proj-recent-box p{
    max-width: 500px;
    text-align: end;
    font-size: 1.3em;
    text-indent: 10px;
}

.contato-container{
    text-align: center;
    padding: 5rem 0 2rem 0;
    margin-top: 90px;
    background-color: #f0ecec49;
}
.contato-container h2{
    font-size: 36px;
    color: #000;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.contato-container p{
    color: #aaaaaa;
    font-size: 20px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.contato-container input, .contato-container textarea{
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 10px 20px;
}
.contato-container textarea{
    display: block;
    margin: 0 auto 30px;
    width: 470px;
    height: 170px;
}
.contato-container input[type="submit"]{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    color: #000000c2;
    cursor: pointer;
    transition: 0.5s ease-in;
}
.contato-container input[type="submit"]:hover{
    transform: scale(105%);
    color: #777777;
    background: #cccccc27;
}
footer {
    width: 100%;
    margin-top: 150px;
   
    
  }
  footer .logofooter{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
  
      h1{
          font-size: 48px;
          font-family: 'Courier New', Courier, monospace;
          color: #000;
          font-weight: lighter;
      }
  }
  footer .sect-footer{
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding-top: 40px;
      padding-bottom: 40px;
      max-width: 600px;
      border-top:  2px solid #ccccccad;
  }
  footer .sect-footer .box-footer{
      max-width: 250px;
      margin-left: 35px;
      h3{
          color: #000;
          margin-bottom: 10px;
      }
      
  }
  
  .sect-footer .box-footer a{
      
          display: block;
          color: #9c9c9c;
          margin-bottom: 10px;
          transition: 0.5s;
  }
  .sect-footer .box-footer a:hover{
      color: #000;
  }
  
  .box-footer .redes-footer a{
          display: inline;
  }
  .box-footer .redes-footer button{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 1.2em;
      background-color: transparent;
      border: 1px solid #ccc;
      color: #9c9c9c;
      cursor: pointer;
      margin-right: 5px;
      transition: .5s ease;
  }
  .box-footer .redes-footer button:hover{
      background-color: #ccc;
      color: #000;
  }